*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: yellow;
    padding: 10px;
    margin: 0 10%;
}

.Titulo{
    display: inline-block; 
    width: 50%; 
    background-color: green;
}
.menu-lista{
    background-color: red;
    display: inline-block;
    width: 30%;
    margin-right: 0;
    padding: 10px;
}

.menu-lista li{
    display: inline;
    font-size: 17px;
    font-weight: 600;
}
li>a{
    text-decoration: none;
    color: black;
}